PORT=4000
CLIENT_ORIGIN=http://https://localhost:3000
JWT_SECRET=IG9sw+heGQGf2CKOB6B6rrjkxbd2OoFYan3HgH6C89dDExKkMpoXgRwAIPzUAfEVUyy0X7ccxgcDVAQsYMMdcA==
VITE_API_BASE_URL=http://localhost:4000/api
VITE_SUPABASE_URL=https://zezsaajyzrgwswjgxjdd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplenNhYWp5enJnd3N3amd4amRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1NTMwMjEsImV4cCI6MjEwNTEyOTAyMX0.YQ72RVolk6jTTyDh-uNmENznXiqw_fUGpnXDNu5jA10
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplenNhYWp5enJnd3N3amd4amRkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTU1MzAyMSwiZXhwIjoyMTA1MTI5MDIxfQ.I120vmpUFD6qGbhGRS6tvkCT2v1WnhNyrVykcaRnCRw
